<div class="passenger-container">

  <div class="passenger-card">

    <h1>Passenger Details</h1>

    <p class="subtitle">
      Enter details of all passengers travelling
    </p>


    @for (passenger of passengers; track $index) {

      <div class="passenger-box">

        <div class="passenger-header">

          <h2>
            Passenger {{ $index + 1 }}
          </h2>

          @if (passengers.length > 1) {

            <button
              type="button"
              class="remove-button"
              (click)="removePassenger($index)"
            >
              Remove
            </button>

          }

        </div>


        <!-- NAME -->
        <div class="form-group">

          <label for="name-{{ $index }}">
            Full Name
          </label>

          <input
            type="text"
            id="name-{{ $index }}"
            name="name-{{ $index }}"
            [(ngModel)]="passenger.name"
            placeholder="Enter passenger name"
            required
          />

        </div>


        <!-- AGE -->
        <div class="form-group">

          <label for="age-{{ $index }}">
            Age
          </label>

          <input
            type="number"
            id="age-{{ $index }}"
            name="age-{{ $index }}"
            [(ngModel)]="passenger.age"
            min="1"
            max="120"
            placeholder="Enter age"
            required
          />

        </div>


        <!-- GENDER -->
        <div class="form-group">

          <label for="gender-{{ $index }}">
            Gender
          </label>

          <select
            id="gender-{{ $index }}"
            name="gender-{{ $index }}"
            [(ngModel)]="passenger.gender"
            required
          >

            <option value="">
              Select Gender
            </option>

            <option value="Male">
              Male
            </option>

            <option value="Female">
              Female
            </option>

            <option value="Other">
              Other
            </option>

          </select>

        </div>


        <!-- BERTH -->
        <div class="form-group">

          <label for="berth-{{ $index }}">
            Berth Preference
          </label>

          <select
            id="berth-{{ $index }}"
            name="berth-{{ $index }}"
            [(ngModel)]="passenger.berthPreference"
          >

            <option value="No Preference">
              No Preference
            </option>

            <option value="Lower">
              Lower
            </option>

            <option value="Middle">
              Middle
            </option>

            <option value="Upper">
              Upper
            </option>

            <option value="Side Lower">
              Side Lower
            </option>

            <option value="Side Upper">
              Side Upper
            </option>

          </select>

        </div>

      </div>

    }


    <!-- ADD PASSENGER -->

    @if (passengers.length < 6) {

      <button
        type="button"
        class="add-button"
        (click)="addPassenger()"
      >
        + Add Passenger
      </button>

    }


    <!-- CONTINUE -->

    <button
      type="button"
      class="continue-button"
      (click)="continueToBooking()"
    >
      Continue to Booking
    </button>

  </div>

</div>